.members {
    background: rgb(236, 232, 232);

    .card-member-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .card-member {
        width: 90%;


        @media only screen and (min-width: 768px) {
            width: 45%;
        }

        @media only screen and (min-width: 978px) {
            width: 32%;
        }
    }
}