*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

$mainColor: #29335c;
$mainColorLight: #0c5f96;
$secondaryColor: #db2b39;
$textColor: #f7f7f7;
$color-1: #61dafb;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);
$blackColor: #0c1013;
$font-size: .8rem;

/* Fonts */
$font1: 'Titillium Web', sans-serif;
$font2: 'Poppins', sans-serif;
$font3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font4: 'Open Sans', sans-serif;

body {
    background-color: rgb(218, 209, 209);
    margin: 0 auto;
    font-size: $font-size;
    font-family: $font2;
}

.main {
    min-height: calc(100vh - 143px);
    width: 100%;
    margin: 0 auto;
    font-size: $font-size;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;

    @media screen and (min-width: 768px) {
        width: 75%;
        max-width: 900px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family:$font1;
    font-weight: bold;

}

div, button, input, label {
    font-size: $font-size;
}
.form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
h2 {
    text-align: center;
    font-size: $font-size*2;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
 
li {
    font-size: $font-size;
    padding: 5px 10px;
    transition: .2s;
    color: $mainColor !important;
    
    &:hover {
        color: $mainColorLight !important;
    }
}

a {
    text-decoration: none;
    color: $mainColor !important;
    transition: .2s;
    font-size: $font-size;

    &:active {
        background-color: cornflowerblue;
        color: rgb(33, 35, 37);
    }
    &:hover {
        color: $mainColorLight !important;

    }
}

.overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-container {
    border: 1px solid $mainColor;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
}
.title7 {
    font-size: 0.8rem;
    font-style: italic;
  }

.btn {
    font-size: $font-size;
}

.inputMessage {
    color: red;
    text-align: left;
}

input::placeholder {
    color: $mainColor;
    font-size: $font-size;
}

.table {
    min-width: 500px;
    overflow-x: scroll !important;
    
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }
  }


